<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <input type="hidden" value="{{jusoUrl}}" id="juso-url" />
    <a
        href="https://www.juso.go.kr/addrlink/addrLinkUrl.do?confmKey=devU01TX0FVVEgyMDIyMDUyMzEwNDgzNTExMjYwMDA=&returnUrl=http://localhost:8080/juso/callback&resultType=4">
        주소찾기 하이퍼링크</a>
    <br />
    <button onclick="jusoPopup()">주소찾기</button> <br />
    <input type="text" value="" />

    <script>
        function jusoPopup() {
            let jusoUrl = $("#juso-url").val();
            window.open(jusoUrl, "pop", "width=570, height=420");
        }
    </script>
</body>

</html>